extends layout.pug

block title

    <title> MILLION FLOWERS | Main page </title>
    
            
            
            
block content
    div#easynetshop-cart
        div#enscart_my_wrapper
            div#enscart_myimage_wrapper
                a(href="#error" class="tocart")
                    img(src="https://i.ibb.co/ZfJ03Ns/shop1.png")
            div#enscart_my_counter_wrapper
                span#easynetshop-cart-count

    div(id="error" class="modalbackground")
        div.modalwindow
            h3 Мои покупки:
            br
            div(id="my-cart" class="child")
            div.sum
                p Итог:
                div(id="my-sum")
            a(class="close-btn" href=" ") Закрыть

    div(class="main_img")
        img(src="https://onemillionflowers.ru/wp-content/uploads/2018/02/logo.png")
    br
    br
    div(class="dropdown")
            a(data-filter="0") Все категории
            a |
            a(data-filter="1") Цветы в коробке
            a |
            a(data-filter="2") Бизнес-букеты
            a |
            a(data-filter="3") Авторские букеты
    br
    br
    div(id="elemforid" name="5")
    div(id='products' class='products')
        each item in products
            -var srcc=`/product?id=${item.id}&title=${item.title}&discription=${item.discription}&price=${item.price}&img=${item.img}&category_name=${item.category.name}`
            div(class='product_block' data-cat=`${item.category.id}`) 
                div(class='product_img') 
                    a(href=`${srcc}`) 
                        img(src=`${item.img}`) 
                div(class='product_name') #{item.title} 
                div(class='product_categoty') - #{item.category.name} -
                -var srcc_b=`/get?id=${item.id}`
                button(class="mmybtn_main"  data-art=`${item.id}` data-title=`${item.title}` data-img=`${item.img}` data-price=`${item.price}` data-disc=`${item.discription}` data-categ=`${item.category.name}`)
                    span(class="price") #{item.price}₽
                    span(class="buy" ) В корзину
                
                                        
                        
                                
                                    
                                    
                                

            
        
                    
                            
                                


                        
                            
            
                            
                                
                    